.main-container{
    position: relative; /*for positioning modal box*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}   

.board-left,
.board-right{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 504px;
    height: 504px;
    box-sizing: border-box;
    margin: 2rem;
}

.cell-left,
.cell-right {
    display: flex;
    border: 3px solid  cadetblue; 
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}

.cell-left {
    opacity: 0.5;
}