.window-won{
  position: absolute;
  z-index: 1;
  background-color: lightgrey;
  height: 544px;
  width: 800px;
  left: calc(50% - 420px);
  top: -20px;
  border: 4px solid midnightblue;
  font-weight: 700;
}

.window-won-text{
   display: flex;
   justify-content: center;
   font-size: xx-large;
   color: black;
   margin: 4rem auto;
   padding: 10px;
   padding-top: 2rem;
}

.window-won-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
    color: black;
    border: 2px solid midnightblue;
    margin: auto;
} 