.left-container {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.ship-container.vert {
    display: flex;
    flex-direction: row;
    padding: 30px 15px;
}

.ship-container.horiz {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px; 
}

.button-container {
    display: flex;
    padding: 15px;
    justify-content: left;
    margin-top: 20px;
}

button {
   border: 2px solid grey;
   height: 40px;
   width: 150px;
   border-radius: 10px;
   color: darkblue;
   font-size: large;
   font-weight: 600;
} 

.horizontal {
    height: 50px;   
    background-color: lightseagreen; 
    margin: 12px;
}

.vertical  {
    width: 50px;   
    background-color: lightseagreen; 
    margin: 12px;
}

.ship-01.horizontal {
    width: 250px;
}

.ship-02.horizontal {
    width: 200px;
}

.ship-03.horizontal {
    width: 150px;
}

.ship-04.horizontal {
    width: 150px;
}

.ship-05.horizontal {
    width: 100px;
}

.ship-01.vertical {
    height: 250px;
}

.ship-02.vertical {
    height: 200px;
}

.ship-03.vertical {
    height: 150px;
}

.ship-04.vertical {
    height: 150px;
}

.ship-05.vertical {
    height: 100px;
}